html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}

body, a, p, input, textarea, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Source Sans Pro", Arial, "sans-serif";
	color:#333;
}

body, p, a {
	font-size: 15px;
	font-weight: 400;	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Neuton";
}

a {
	color:#c70d85;
	text-decoration: underline;
	transition: 0.3s;
}

a:hover, a:focus {
	color:#1fb391;
	text-decoration: none;
}

.violet {
	color:#9e0973;
}

.main-container {
	margin-bottom: 40px;
}


.header {
	border-bottom: 1px solid #eeeeee;
	padding: 0 0 10px 0;
	margin: 0;
}

.header h2, .header h3 {
	font-family: "Marck Script";
	text-align: center;
}

.header h2 a {
	font-family: "Marck Script";
	text-decoration: none;
	color: #333;
	font-size: 60px;
}

.header h3 {
	font-size: 30px;	
}

.nav-main {
	margin-bottom: 40px;
	list-style: none;
	padding: 0 15px;
}

.nav-main li:nth-child(1) {
	padding: 0 2px 0 0;	
}
.nav-main li:nth-child(2) {
	padding: 0 0 0 2px;	
}

.nav-main li a {
	display: block;
	padding: 15px 5px;
	text-align: center;
	font-size: 23px;
	text-decoration: none;
	border-bottom: 1px solid #eeeeee;
}

.nav-main li a:hover {
	border-bottom: 1px solid #1fb391;
}





@media (min-width: 1200px) {
	
	.content {
		margin: 0 100px;
	}

}







.comments {
	border-top: 1px solid #eee;
	margin: 40px 0 0 0;
	padding: 20px 0;
}

.comments p, .comments a {
	opacity: .4;
	font-size: 12px;
}

.comments:hover p, .comments:hover a {
	opacity: 1;
}


.footer {
	border-top: 1px solid #eeeeee;
	padding: 10px 0;
	margin: 40px 0 0 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
}

.footer p, .footer a {
	color: #8e8e8e;
	font-size: 12px;
	font-weight: 300;
}
