body, a, p, input, textarea, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Dosis, Arial, 'sans-serif';
	color:#333;
	font-size: 15px;
	font-weight: 500;
}

a {
	color:#9e0973;
	text-decoration: underline;
	transition: 0.3s;
}

a:hover, a:focus {
	color:#aa0b0b;
	text-decoration: none;
}

.violet {
	color:#9e0973;
}


.header {
	border-bottom: 1px solid #eeeeee;
	padding: 0 0 10px 0;
	margin: 0 0 40px 0;
}

.header h2, .header h3 {
	font-family: "Marck Script";
	font-size: 60px;
}

.header h3 {
	font-size: 30px;	
}




.footer {
	border-top: 1px solid #eeeeee;
	padding: 10px 0;
	margin: 40px 0 0 0;
}

.footer p, .footer a {
	color: #8e8e8e;
	font-size: 12px;
	font-weight: 300;
}
